<div #navBar class="navbar-fixed">
    <nav class="masada-dark-background">
        <div class="nav-wrapper">
            <span>&nbsp;</span>
            <!-- Logo que regresa a Home -->
            <a routerLink="/" class="brand-logo hide-on-large-only">
                <img src="assets/images/logos/freemason-logo.svg" alt="logo-navbar" class="logoNavbarSmall">
            </a>
            <a routerLink="/" class="brand-logo hide-on-med-and-down">
                <img src="assets/images/logos/freemason-logo.svg" alt="logo-navbar" class="logoNavbar">
            </a>

            <!-- Menú -->
            <ul class="right hide-on-med-and-down">
                <li><a href="sass.html"><i class="material-icons text-masada-gold">search</i></a></li>
                <li><a href="badges.html"><i class="material-icons text-masada-gold">view_module</i></a></li>
                <li><a href="collapsible.html"><i class="material-icons text-masada-gold">refresh</i></a></li>
                <li><a href="mobile.html"><i class="material-icons text-masada-gold">more_vert</i></a></li>
            </ul>
        </div>
    </nav>
</div>

<!-- main router outlet -->
<router-outlet></router-outlet>