.oswaldFont {
    font-family: "Oswald", sans-serif;
}

.img-filter {
    filter: blur(1px) brightness(0.2) grayscale(0.8);
}

.limited-parallax-container {
    height: 300px;
}

.limited-parallax-container-2 {
    height: 250px;
}

.texto-justificado {
    text-align: justify;
}